includes:
  - phpstan-baseline.neon

parameters:
  level: 1
  paths:
    - src/
    - tests/
  excludePaths:
    - stubs/
    - vendor/
  scanFiles:
    - stubs/charcoal.php.stub
    - stubs/guzzle.php.stub
    - stubs/league.php.stub
    - stubs/slim-v3.php.stub
    - stubs/slim-v4.php.stub
